# Ignore datasets
data/
datasets/
output/
runs/
*.pt

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/
myenv/
gpuenv/

# VSCode settings
.vscode/

# macOS system files
.DS_Store
._*

